<div class="container">
    <div class="card  my-5" style="width: 50rem; margin: 200px;">
    <img [src]="selectedProduct.thumbnail" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{selectedProduct.title | uppercase}}</h5>
      <p class="card-text">{{selectedProduct.description}}</p> 
      <p class="card-text ">{{selectedProduct.price | currency:' EGY '}}</p>
      <p class="card-text "> discountPercentage : {{selectedProduct.discountPercentage}}%</p>
      <p class="card-text ">rating : {{selectedProduct.rating}}</p>
      <p class="card-text ">stock : {{selectedProduct.stock}}</p>
      <p class="card-text ">brand :  {{selectedProduct.brand}}</p>
      <p class="card-text ">category :  {{selectedProduct.category}}</p>
      <p class="card-text"> createdAt : {{selectedProduct.createdAt | date : "MMMM YYYY"}}</p>
      <p class="card-text ">{{selectedProduct.stock | countStock }}</p>
 
    </div>
  </div>
</div>
  
